/* Import statements */
@import url('./components/headers/header.css');
@import url('./components/mainpages/home/banner/banner.scss');
@import url('./components/mainpages/products/products.css');
@import url('./components/mainpages/auth/login.scss');
@import url('./components/mainpages/detailProduct/detailProduct.scss');
@import url('./components/mainpages/cart/cart.css');
@import url('./components/mainpages/history/history.css');
@import url('./components/mainpages/categories/categories.css');
@import url('./components/mainpages/createProduct/createProduct.css');
@import url('./components/mainpages/type/type.css');
@import url('./components/mainpages/auth/userinfo.css');
@import url('./components/mainpages/home/pup/pup.css');
@import url('./components/mainpages/about/about.css');
@import url('./components/mainpages/checkout/checkout.css');
@import url('./components/footer/footer.css');
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}
.padding-hero{
  padding: 0px 80px;;
}


/* .App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* margin: 0 auto;
  box-shadow: 0 0 35px #eee; */

